@font-face {
    font-family: "Roboto", sans-serif;
    src: url(../assets/fonts/roboto-medium-webfont.woff2);
    src: url(../assets/fonts/roboto-medium-webfont.eot) url(../assets/fonts/roboto-medium-webfont.ttf) url(../assets/fonts/roboto-medium-webfont.woff);
}

.title {
    font-family: "Roboto";
    font-size: 72px;
    text-align: center;
}

a {
    border: black;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 36px;
    margin: 10px 2px;
    cursor: pointer;
    background-color: black;
    font-family: "Roboto";
    display: block;
    width: 20%;
    margin-left: 40%;
    margin-right: 30%;
}

a:hover {
    background-color: grey;
    color: black;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
    height: 400px;
}